<!-- header nav -->
<header class="bg-light nav-down">
  <h1 class="assistive">Home 4us</h1>
  <div class="border-bottom">
    <nav class="container" aria-label="Navegação Secundária">
      <div class="flex-row flex-row--justifybetween nowrap flex-row-no-pad-right-mobile flex-row-no-pad-left-mobile">
        <div class="flex-col flex-col-no-pad-side flex-col-flexed">
          <a class="nav-link flex-col--center" href="index.html">
            <img class="logo-site" src="images/logo_home4us.svg" alt="logo home4us">
          </a>
        </div>
        <div class="flex-col flex-col-no-pad-side">
          <ul class="inline-no-wrap">
            <li class="nav-item-no-stroke">
              <a class="nav-link" href="#gatinho" title="Pesquisar">
                <span class="assistive">Pesquisar</span>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22px" height="22px" viewBox="-0.045 -0.045 22 22" enable-background="new -0.045 -0.045 22 22" xml:space="preserve">
                <g>
                  <circle class="blue" fill="none" stroke="#555555" stroke-miterlimit="10" cx="8.274" cy="8.274" r="7.819"/>
                  <circle class="blue" fill="none" stroke="#555555" stroke-miterlimit="10" cx="8.274" cy="8.274" r="7.819"/>
                  <path class="orange" fill="none" stroke="#555555" stroke-miterlimit="10" d="M21.065,19.173l-6.401-6.401
                    c-0.46,0.655-1.027,1.25-1.702,1.757c-0.063,0.047-0.13,0.086-0.194,0.131l6.405,6.405c0.52,0.52,1.37,0.521,1.891,0
                    C21.585,20.543,21.585,19.693,21.065,19.173z"/>
                  <path class="blue" fill="none" stroke="#555555" stroke-miterlimit="10" d="M3.165,7.542c0.187-1.306,0.873-2.542,2.013-3.397
                    c2.28-1.71,5.515-1.247,7.225,1.033c0.836,1.115,1.153,2.457,0.991,3.738"/>
                </g>
                </svg>
              </a>
            </li>
            <li class="nav-item-no-stroke">
              <a class="nav-link" href="#gatinho" title="A minha conta">
                <span class="assistive">Conta</span>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22px" height="22px" viewBox="0 0 22 22" enable-background="new 0 0 22 22" xml:space="preserve">
                <g>
                    <circle class="blue" fill="none" stroke="#555555" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="11" cy="11" r="10.5"/>
                  <path class="orange" fill="none" stroke="#555555" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                    M17.849,11.914c0,3.784-3.065,6.849-6.849,6.849s-6.849-3.065-6.849-6.849 M5.065,9.174c0-1.008,0.818-1.826,1.826-1.826
                    s1.826,0.818,1.826,1.826 M16.935,9.174c0-1.008-0.818-1.826-1.826-1.826s-1.826,0.818-1.826,1.826"/>
                </g>
                </svg>
              </a>
            </li>
            <li class="nav-item-no-stroke">
              <a class="nav-link" href="#gatinho" title="Cesto de compras">
                <span class="assistive">Carrinho</span>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22px" height="22px" viewBox="-0.795 0.6 22 22" enable-background="new -0.795 0.6 22 22" xml:space="preserve">
                <g>
                  <path class="orange" fill="none" stroke="#555555" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" d="
                    M15.875,10.103h4.03c0.565,0,0.853,0.399,0.791,0.955l-1.213,9.081C19.342,21.2,18.599,22.1,17.53,22.1h-7.325h-0.001H2.879
                    c-1.067,0-1.812-0.898-1.953-1.961l-1.213-9.081c-0.062-0.556,0.226-0.955,0.791-0.955H4.56 M13.89,10.103h-3.684 M6.546,10.103
                    h7.343"/>
                    <circle class="blue" fill="none" stroke="#555555" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" cx="11.456" cy="2.247" r="1.147"/>
                  <circle class="blue" fill="none" stroke="#555555" stroke-miterlimit="2.6131" cx="16.281" cy="13.011" r="1.027"/>
                    <circle class="blue" fill="none" stroke="#555555" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" cx="8.955" cy="2.247" r="1.147"/>
                  <circle class="blue" fill="none" stroke="#555555" stroke-miterlimit="2.6131" cx="4.23" cy="13.011" r="1.027"/>
                    <line class="blue" fill="none" stroke="#555555" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" x1="7.723" y1="12.126" x2="7.723" y2="20.075"/>
                    <line class="blue" fill="none" stroke="#555555" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" x1="12.684" y1="12.126" x2="12.684" y2="20.075"/>
                    <line class="blue" fill="none" stroke="#555555" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" x1="15.906" y1="11.807" x2="10.632" y2="3.031"/>
                    <line class="blue" fill="none" stroke="#555555" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" x1="4.504" y1="11.807" x2="9.777" y2="3.031"/>
                </g>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="nav">
    <nav class="container" aria-label="Navegação Principal">
      <div class="row row-no-pad-right-mobile row-no-pad-left-mobile">
        <ul class="scroll">
          <li class="nav-item {% if page.pagina_actual == "casa" %} page-is-active{% endif %}" data-id="casa" aria-controls="casa">
            <a class="nav-link" href="#gatinho">
              <div class="main-menu-image">
                <span class="assistive">link para artigos para a casa</span>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25.821px" height="22px" viewBox="0 0 25.821 22" enable-background="new 0 0 25.821 22" xml:space="preserve">
              <g>
                <path class="blue" fill="none" stroke="#555555" stroke-miterlimit="10" d="M2.2,11.274v9.305c0,0.506,0.398,0.919,0.885,0.919
                  h19.652c0.487,0,0.885-0.413,0.885-0.919v-9.305"/>
                <path class="orange" fill="none" stroke="#555555" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                  M3.567,10.202h0.072c0.152,0.569,0.774,0.994,1.516,0.994s1.363-0.426,1.515-0.994h0.072c0.152,0.569,0.774,0.994,1.516,0.994
                  s1.363-0.426,1.515-0.994h0.072c0.152,0.569,0.773,0.994,1.516,0.994c0.742,0,1.363-0.426,1.515-0.994h0.073
                  c0.151,0.569,0.772,0.994,1.514,0.994c0.743,0,1.364-0.426,1.516-0.994h0.073c0.152,0.569,0.773,0.994,1.515,0.994
                  c0.742,0,1.363-0.426,1.515-0.994h0.073c0.152,0.569,0.773,0.994,1.515,0.994s1.363-0.426,1.515-0.994h0.073
                  c0.152,0.569,0.773,0.994,1.515,0.994c0.857,0,1.552-0.567,1.552-1.267c0-0.375-0.08-0.789-0.094-1.187l-2.391-7.76
                  C22.759,0.725,22.572,0.5,22.247,0.5H3.563c-0.322,0-0.513,0.227-0.591,0.482l-2.39,7.756C0.554,9.128,0.5,9.541,0.5,9.929
                  c0,0.699,0.695,1.267,1.552,1.267C2.793,11.196,3.415,10.771,3.567,10.202z"/>
                <path class="blue" fill="none" stroke="#555555" stroke-miterlimit="10" d="M6.026,21.5h5.036v-6.305
                  c0-0.45-0.369-0.819-0.818-0.819H6.845c-0.45,0-0.819,0.37-0.819,0.819V21.5z"/>
                  <line class="blue" fill="none" stroke="#555555" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="11.063" y1="17.768" x2="6.167" y2="17.768"/>
                <path class="orange" fill="none" stroke="#555555" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                  M15.872,14.376h3.396c0.54,0,0.982,0.442,0.982,0.982v3.008c0,0.54-0.442,0.982-0.982,0.982h-3.396
                  c-0.54,0-0.982-0.442-0.982-0.982v-3.008C14.89,14.818,15.332,14.376,15.872,14.376z"/>
                  <line class="orange" fill="none" stroke="#555555" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="14.888" y1="16.863" x2="20.251" y2="16.863"/>
                  <line class="orange" fill="none" stroke="#555555" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="17.57" y1="19.348" x2="17.57" y2="14.376"/>
              </g>
              </svg>
              </div>
              <p class="main-menu-text">Casa</p>
            </a>
          </li>
          <li class="nav-item" data-id="prendas" aria-controls="prendas">
            <a class="nav-link" href="#gatinho">
              <div class="main-menu-image">
                <span class="assistive">link para artigos para oferecer</span>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25.328px" height="22px" viewBox="0 0.001 25.328 22" enable-background="new 0 0.001 25.328 22" xml:space="preserve">
                <g>
                  <path class="orange" fill="none" stroke="#555555" stroke-miterlimit="2.6131" d="M2.634,7.576v12.999
                    c0,0.509,0.373,0.926,0.828,0.926h18.402c0.456,0,0.828-0.417,0.828-0.926v-13"/>
                  <path class="orange" fill="none" stroke="#555555" stroke-miterlimit="2.6131" d="M23.823,4.23h-9.489l0,0h-3.34l0,0H1.505
                    C0.952,4.23,0.5,4.528,0.5,4.892V5.89v0.013v1.003c0,0.364,0.452,0.664,1.005,0.664h9.489v13.932h3.34V7.569h9.488
                    c0.553,0,1.005-0.298,1.005-0.664V5.908V5.895V4.892C24.828,4.528,24.376,4.23,23.823,4.23z"/>
                    <rect class="blue" x="10.994" y="4.229" fill="none" stroke="#555555" stroke-miterlimit="2.6131" width="3.34" height="17.272"/>
                    <circle class="blue" fill="none" stroke="#555555" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" cx="14.631" cy="2.307" r="1.806"/>
                    <circle class="blue" fill="none" stroke="#555555" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="2.6131" cx="10.697" cy="2.307" r="1.806"/>
                </g>
                </svg>
              </div>
              <p class="main-menu-text">Prendas</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#gatinho">
              <div class="main-menu-image">
                <span class="assistive">link para consulta de artigos por marca</span>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32.064px" height="22px" viewBox="-0.001 0 32.064 22" enable-background="new -0.001 0 32.064 22" xml:space="preserve">
                <g>
                  <path class="orange" fill="none" stroke="#555555" stroke-miterlimit="2.6131" d="M9.349,1.792
                    c2.027-0.694,3.754-1.301,3.776-1.293l16.83,6.853c0.49,0.201,0.715,0.799,0.499,1.331l-3.538,8.69
                    c-0.216,0.532-0.796,0.804-1.286,0.605L8.798,11.125c-0.034-0.014-2.384-4.627-3.44-6.773C4.967,3.56,5.239,3.182,5.943,2.94
                    c0.455-0.155,0.81-0.267,1.409-0.473"/>
                  <path class="orange" fill="none" stroke="#555555" stroke-miterlimit="2.6131" d="M29.648,10.629l1.461,0.859
                    c0.457,0.269,0.592,0.894,0.3,1.389l-4.758,8.087c-0.291,0.496-0.903,0.68-1.361,0.413L9.629,12.162
                    c-0.008-0.005-0.083-0.212-0.276-0.775"/>
                  <path class="blue" fill="none" stroke="#555555" stroke-miterlimit="2.6131" d="M8.182,4.261c0.096-0.373-0.085-2.396-2.284-3.161
                    C5.06,0.809,4.132,0.839,3.504,1.34c-3.597,2.87,2.869,7.081,0.434,8.954c-2.408,1.852-2.89-4.489-3.38-6.731
                    C0.347,2.598,0.6,1.304,3.077,1.736"/>
                  <circle class="orange" fill="none" stroke="#555555" stroke-miterlimit="2.6131" cx="9.353" cy="5.035" r="1.382"/>
                </g>
                </svg>
              </div>
              <p class="main-menu-text">Marcas</p>
            </a>
          </li>
          <li class="nav-item {% if page.pagina_actual == "contactos" %} page-is-active{% endif %}">
            <a class="nav-link" href="contactos.html">
              <div class="main-menu-image">
                <span class="assistive">link para página com formulário de contacto</span>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24.004px" height="22px" viewBox="0 0 24.004 22" enable-background="new 0 0 24.004 22" xml:space="preserve">
                <g>
                  <polyline class="blue" fill="none" stroke="#555555" stroke-width="1" stroke-linejoin="round" stroke-miterlimit="10" points="9.502,13.5 9.502,21.5 13.002,15.5"/>
                  <polygon class="orange" fill="none" stroke="#555555" stroke-width="1" stroke-linejoin="round" stroke-miterlimit="10" points="23.502,0.5 0.502,10 9.502,13.5"/>
                  <polygon class="orange" fill="none" stroke="#555555" stroke-width="1" stroke-linejoin="round" stroke-miterlimit="10" points="23.502,0.5 19.502,19 9.502,13.5 "/>
                </g>
                </svg>
              </div>
              <p class="main-menu-text">Contactos</p>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="container">
    <div class="row row-no-pad-right-mobile row-no-pad-left-mobile">
      <ul class="submenu scroll" id="casa">
        <li class="nav-item">
          <a class="sub-item" href="#gatinho">Para Arrumar</a>
        </li>
        <li class="nav-item">
          <a class="sub-item" href="#gatinho">Na Cozinha</a>
        </li>
        <li class="nav-item">
          <a class="sub-item" href="#gatinho">À Mesa</a>
        </li>
        <li class="nav-item">
          <a class="sub-item" href="#gatinho">Para Decorar</a>
        </li>
        <li class="nav-item">
          <a class="sub-item" href="#gatinho">No Banho</a>
        </li>
      </ul>

      <ul class="submenu scroll" id="prendas">
        <li class="nav-item">
          <a class="sub-item" href="#gatinho">Para Ele</a>
        </li>
        <li class="nav-item">
          <a class="sub-item" href="#gatinho">Para Ela</a>
        </li>
        <li class="nav-item">
          <a class="sub-item" href="#gatinho">Para Criança</a>
        </li>
        <li class="nav-item">
          <a class="sub-item" href="#gatinho">Para a Casa</a>
        </li>
        <li class="nav-item">
          <a class="sub-item" href="#gatinho">Natal</a>
        </li>
      </ul>
    </div>
  </div>
</header>
<!-- fim nav-->
